:root {
  /* FONT SIZE */
  --label-s: 10px;
  --label: 12px;
  --h6: 16px;
  --h5: 20px;
  --h4: 24px;
  --h3: 28px;
  --h2: 40px;
  --h1: 60px;

  /* BORDER*/
  --border-s: 4px solid var(--black);
  --border-m: 6px solid var(--black);
  --border-lg: 8px solid var(--black);

  /* FONT WEIGHT */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /* Padding */
  --space-xs: 2px;
  --space-s: 4px;
  --space-sm: 6px;
  --space-m: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;
  --space-4xl: 64px;

  /* BORDER RADIUS */
  --radius-xm: 4px;
  --radius-md: 8px;
  --radius-sm: 12px;
  --radius-lg: 16px;
  --radius-round: 100px;

  /* SHADOWS */
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-medium: rgba(0, 0, 0, 0.25);
  --shadow-heavy: rgba(0, 0, 0, 0.4);

  /* COLORS - BASIC */

  --background-color: #0c0c0f;
  --off-white: #f9e7e6;
  --black: #000000;
  --bege: #eacd91;
  --grey-100: #f8f8f8;
  --grey-200: #d2d2d2;
  --grey-300: #a2a2a2;

  /* COLORS - PURPLE */
  --purple-100: #b9d3f8;
  --purple-200: #8ca1d7;

  /* COLORS - GREEN */
  --green-100: #90a878;
  --green-200: #155943;

  --orange-100: #e07d36;
  /* COLORS - YELLOW */
  --yellow-100: #ffdc9a;
  --yellow-150: #f6c25f;
  --yellow-200: #e0960d;
  --yellow-250: #c07d00;

  --orange-200: #d8871e;

  --button-play: var(--theme-primary);
}
:root {
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-sm: 12px;

  /* Sombra */
  --theme-bg-shadow: rgba(0, 0, 0, 0.4);

  /* Cores gerais */
  --color-button-bg: #4ade80;
  --color-button-text: #ffffff;
  --color-window-bg: #1e1e2e;
  --color-window-border: #333333;

  /* Layout */
  --radius-sm: 4px;
  --radius-md: 8px;
  --space-md: 16px;

  /* Fallback  */
  --theme-bg: url("../assets/backgrounds/default.png");
  --theme-name: "Default";
  --theme-primary: #888888;
  --theme-secondary: #aaaaaa;
  --theme-accent: #555555;
}

:root {
  --bgd: url("./assets/components/bgd.png");
  --white-logo-game: url("./assets/components/whitelogogame.png");
  --simbol: url("./assets/components/simbol.png");
}
